{% extends 'base.html.twig' %}

{% block title %}Bienvenue sur Snowtricks!{% endblock %}

{% block content %}
    <div class="banner">
        <img src="{{ asset ('img/snowtricksAccueil.jpg') }}" class="img-accueil img-fluid">
        <p style="text-shadow: #FFF 2px 0 10px;bottom:10rem;left:1rem;font-size:4rem;" class="position-absolute">
            Bienvenue sur Snowtricks
        </p>
        <p class="position-absolute" style="bottom:2.6rem;right:1rem;font-size:5rem;">
            <a href="#tricks" style="color:black;">
                <i class="bi bi-arrow-down-circle-fill"></i>
            </a>
        </p>
    </div>
    <div class="banner-mobil">
        <img src="{{ asset ('img/snowtricksAccueil.jpg') }}" class="img-fluid">
        <p style="text-shadow: #FFF 2px 0 10px;top:8rem;left:0.5rem;font-size:1.5rem;" class="position-absolute">
            Bienvenue sur Snowtricks
        </p>
        <p class="position-absolute" style="top:12rem;left:22rem;font-size:1.5rem;">
            <a href="#tricks" style="color:black;">
                <i class="bi bi-arrow-down-circle-fill"></i>
            </a>
        </p>
    </div>
    <div class="container-fluid">
        {% for rubrique, messages in app.flashes %}
			<div class="alert alert-{{ rubrique }} alert-dismissible fade show" id="success-flash" role="alert">
				{% for message in messages %}
					<p>{{ message }}</p>
				{% endfor %}
				<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
			</div>
		{% endfor %}
                {#<div id="trick-section" data-bs-spy="scroll" data-bs-offset="0" tabindex="0"></div>#}
            <div id="tricks" class="row justify-content-around text-center">
			    {{ include ('trick/tricks-list.html.twig') }}
            </div>
		<div class="mt-3 text-center">
			<button type="button" class="btn-lg" style="background-color:#007286; color:lightgrey;" id="load-more">
				<i class="bi bi-plus-circle-dotted load-circle"></i>Voir plus de tricks</button>
		</div>
		<div class=" mb-3 pull-right">
			<a href="#tricks" class="to-trick-up" style="color:black;font-size:5rem;">
				<i class="bi bi-arrow-up-circle-fill "></i>
			</a>
		</div>

        <!-- Modal -->
        <div class="modal fade" id="eraseTrick" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">
                            <span class="badge bg-danger">Attention</span>
                        </h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <p>Etes vous certain de vouloir effacer ce trick ?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Diantre non !</button>
                        <button id="trick-delete" type="button" class="btn btn-primary">Parfaitement !</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}
{% block javascripts %}
	{{parent()}}
	<script>
		$(function () {
            var click_count = 10
            $('#load-more').off('click').on('click', function (event) {
                /* event.preventDefault();
                event.stopPropagation(); */
                console.log('load-more***********************')
                $.ajax({
                url:'{{ path('load-more') }}' + '/' + click_count,
                method: 'get'
                }).done(function (message) {

                $('#tricks').append(message)
                })
                click_count += 5
                if (click_count >= {{ trickCount }}) {
                $('#load-more').hide()
                }
            })

            $('#trick-delete').click(function () {
                let trick_url = $(this).data('trick');
                console.log(trick_url)
                $.ajax({url: trick_url, method: 'get'}).done(function () { // Redirect to home page
                window.location.replace("{{ path('home') }}");
                })
                })
                $('.trick-delete').click(function () {
                let id = $(this).data('trick');
                $('#trick-delete').data('trick', id)
            })
        })

	</script>
    
{% endblock %}

