{% extends 'base.html.twig' %}
{% block title %}Modifier un trick{% endblock %}
{% block content %}
		<!-- Modal -->
        <div class="modal fade" id="eraseTrick" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">
                            <span class="badge bg-danger">Attention</span>
                        </h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <p>Etes vous certain de vouloir effacer ce trick ?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Diantre non !</button>
                        <button id="trick-delete" type="button" class="btn btn-primary">Parfaitement !</button>
                    </div>
                </div>
            </div>
        </div>
		{% for rubrique, messages in app.flashes %}
			<div class="alert alert-{{ rubrique }} alert-dismissible fade show" id="success-flash" role="alert">
				{% for message in messages %}
					<p>{{ message }}</p>
				{% endfor %}
				<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
			</div>
		{% endfor %}
	<div class="container">        
		<h1 class="text-center mt-3 mb-3 back-h1">Modification du trick :
		{{ trick.name }}</h1>	
		{{ form_start(form) }}
		{{ form_errors(form) }}
        <div class="row">
            <div class="card  mx-auto col-12 col-lg-8 mt-4 mb-4">
                <div>
					{% if trick.pictures[0].filename is defined %}
						<img src=
							
								"{{ asset ('uploads/pictures/' ~ trick.pictures[0].filename) }}"                    
							class="card-img-top p-2 img-fluid">
						<p class="position-absolute" style="top:1rem;right:2.5rem;font-size:1.5rem;">
							<a href=					
							"{{ path('picture-edit', {id:trick.pictures[0].id}) }}"
							style="color:white;">
								<i class="bi bi-pencil-fill"></i>					
							</a>
							<form></form>
							<form   method="post" action="{{ path('delete-picture', {'id': trick.pictures[0].id}) }}" onsubmit="return confirm('Êtes vous sûr.e de vouloir effacer cette image?');">
								<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ trick.pictures[0].id) }}">
								<button  class="picture-delete btn btn-sm btn-danger position-absolute" style="top:3.5rem;right:2.5rem;"><i class="bi bi-trash-fill"></i></button>
							</form>
						</p>
					{% else %}
					{% endif %}
						
				</div>
                <div class="card-body text-center">
                    <h5 class="card-title text-center">{{ form_row(form.name) }}</h5>
                    <hr class="my-3"/>
                    <p class="card-text text-muted"> Publié par : {{ trick.author.userName }} | le : {{ trick.createdAt|date("d/m/Y \\à H:i") }} | Catégorie : {{ form_row(form.groupTrick) }}</p>
                    <hr class="my-3"/>
                    <h5 class="card-title text-center">Photos et vidéos</h5>
                    <button type="button" id="editMedia" class="btn btn-primary">Modifier les photos et vidéos</button>
					<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5" id="showEditMedia">
						{% for picture in trick.pictures %}
							<div class="col position-relative">
								<div class="ratio ratio-4x3 mt-3">
									<a href="{{ asset('uploads/pictures/' ~ picture.filename) }}" title="{{ picture.title }}">
										<img src="{{ asset('uploads/pictures/' ~ picture.filename) }}" class="img-show-trick" width="150em" height="100em"data-bs-toggle="tooltip" data-bs-placement="top" title="{{ picture.title | capitalize }}">
									</a>											
								</div>
								<div>
									<div>
										<a href="{{ path('picture-edit', {id:picture.id}) }}" style="color:black;">
											<i class="bi bi-pencil-fill"></i>					
										</a>
									</div>
									<div>
										<form></form>
										{% include "picture/delete.html.twig" %}
									</div>
								</div>
							</div>
						{% endfor %}

						{% for video in trick.videos %}
							<div class="col position-relative">
								<div class="ratio ratio-4x3 mt-3 bg-dark">
									<iframe src="{{ video.videoUrl | formatVideo }}" width="150rem" data-bs-toggle="tooltip" data-bs-placement="top" title="{{ video.title | capitalize }}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
								</div>
								<div class="" style="">
									<a href="{{ path('video-edit', {id:video.id}) }}" style="color:black;">
										<i class="bi bi-pencil-fill"></i>					
									</a>
									<form class="" method="post" action="{{ path('delete-video', {'id': video.id}) }}" onsubmit="return confirm('Êtes vous sûr.e de vouloir effacer cette vidéo?');">
										<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ video.id) }}">
										<button class="video-delete btn btn-sm btn-danger"><i class="bi bi-trash-fill"></i></button>
									</form>
								</div>
							</div>
						{% endfor %}

					</div>
					<div class="row mt-2">
						<div class="col">
							<div id="pictures" class="pictures" data-prototype="{{ form_widget(form.pictures.vars.prototype)|e('html_attr') }}">
								{{ form_widget(form.pictures) }}
							</div>
							<button id="add-picture" class="add-picture" type="button" data-collection-holder-class="pictures">Ajouter une image</button>
						</div>
						<div class="col">
							<div id="videos" class="videos" data-prototype="{{ form_widget(form.videos.vars.prototype)|e('html_attr') }}">
								{{ form_widget(form.videos) }}
							</div>
							<button id="add-video" class="add-video" type="button" data-collection-holder-class="videos">Ajouter une video</button>
						</div>
					</div>
                    <hr class="my-3"/>
                    <h5 class="card-title text-center">Description</h5>
                    <p class="card-text text mb-2">{{ form_row(form.description) }}</p>                                        
                </div>
				<div class="text-center mb-2">
					<button type="submit" class="btn btn-success save-btn">
						<i class="bi bi-save-fill"></i>
						{{ form_end(form) }}Modifier
					</button>
					<a href="#eraseTrick" data-bs-toggle="modal" type="submit" data-trick="{{ path('delete-trick', {id:trick.id}) }}" class="btn btn-danger trick-delete">
						<i class="bi bi-eraser-fill"></i>
						Supprimer
					</a>
				</div>
            </div>
            
        </div>
    
	</div>

{% block javascripts %}
	{{ parent() }}
	{{ encore_entry_script_tags('newPicture') }}
	<script>
		$(function () {
			$('#trick-delete').click(function () {
			let trick_url = $(this).data('trick');
			console.log(trick_url)
			$.ajax({url: trick_url, method: 'get'}).done(function () { // Redirect to home page
			window.location.replace("{{ path('home') }}");
			})
			})
			$('.trick-delete').click(function () {
			let id = $(this).data('trick');
			$('#trick-delete').data('trick', id)
			})
			$('#editMedia').click(function(){
                $('#showEditMedia').show();
                $('#editMedia').hide();
            })				
		})
		
	</script>
{% endblock %}
{% endblock %}
