{% extends 'base.html.twig' %}
{% block title %}Modifier un trick{% endblock %}
{% block content %}
        <h1 class="text-center mt-3 mb-3 back-h1">Modification du trick :
				{{ trick.name }}</h1>


			{{ form_start(form) }}
			{{ form_errors(form) }}

		

		<div class="container">
    <div class="row">
        <div class="card  mx-auto col-12 col-lg-8 mt-4 mb-2">
			<div>
            <img src="{{ asset ('uploads/pictures/' ~ trick.pictures[0].fileName) }}"class="card-img-top p-2 img-fluid">
			<p class="position-absolute" style="top:1rem;right:3rem;font-size:1.5rem;">
				<a href="{{ path('picture-edit', {id:trick.pictures[0].id}) }}" style="color:black;">
					<i class="bi bi-pencil-fill"></i>					
				</a>
				<a href="#main-content" style="color:black;">
					<i class="bi bi-trash-fill"></i>					
				</a>
			</p>
			</div>
            <div class="card-body text-center">
                <h5 class="card-title text-center">{{ form_row(form.name) }}</h5>
                <hr class="my-3"/>
                <p class="card-text text-muted"> Publié par : {{ trick.author.userName }} | le : {{ trick.createdAt|date("d/m/Y \\à H:i") }} | Catégorie : {{ form_row(form.groupTrick) }} | 0 commentaires</p>
                    {#{% if attribute.lastUpdate  is not null %}<p>Dernière modification le : {{ attribute.lastUpdate|date("d/m/Y \\à H:i") }}</p>{% endif %}#}
                <hr class="my-3"/>
				<h5 class="card-title text-center">Photos et vidéos</h5>
                <div class="">                  

					<div class="">
						{% for picture in trick.pictures |slice(1, trick.pictures| length) %}
						{{ loop.index }} - <img src="{{ asset ('uploads/pictures/' ~  picture.filename) }}" height="200px" width="300px" class="">
						<p class="" style="">
							<a href="{{ path('picture-edit', {id:picture.id}) }}" style="color:black;">
								<i class="bi bi-pencil-fill"></i>					
							</a>
							<a href="#main-content" style="color:red;">
								<i class="bi bi-trash-fill"></i>					
							</a>
						</p>
						{% endfor %}
					<div>
					<div class="">
						{% for video in trick.videos %}
						{{ loop.index }} - <iframe class="" src="{{ video.videoUrl | formatVideo }}"  height="200px" width="300px" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
						<p class="" style="">
							<a href="{{ path('video-edit', {id:video.id}) }}" style="color:black;">
								<i class="bi bi-pencil-fill"></i>					
							</a>
							<a href="#main-content" style="color:red;">
								<i class="bi bi-trash-fill"></i>					
							</a>
						</p>
						{% endfor %}
                    <div>
				

					<div class="row">
						<div class="col">
							<div id="pictures" class="pictures" data-prototype="{{ form_widget(form.pictures.vars.prototype)|e('html_attr') }}">
								{{ form_widget(form.pictures) }}
							</div>
							<button id="add-picture" class="add-picture" type="button" data-collection-holder-class="pictures">Ajouter une image</button>
						</div>
						<div class="col">
							<div id="videos" class="videos" data-prototype="{{ form_widget(form.videos.vars.prototype)|e('html_attr') }}">
								{{ form_widget(form.videos) }}
							</div>
							<button id="add-video" class="add-video" type="button" data-collection-holder-class="videos">Ajouter une video</button>
						</div>
					</div>


				</div>            
                    
                </div>  
                <hr class="my-3"/>
                <h5 class="card-title text-center">Description</h5>
                <p class="card-text text mb-2">{{ form_row(form.description) }}</p>                                        
            </div>
			<div class="edit-buttons">
				<button type="submit" class="btn btn-success save-btn">
					<i class="bi bi-save-fill"></i>
					Modifier
				</button>
				<a href="#eraseTrick" data-bs-toggle="modal" type="submit" data-trick="{{ path('delete-trick', {id:trick.id}) }}" class="btn btn-danger trick-delete">
					<i class="bi bi-eraser-fill"></i>
					Effacer
				</a>
			</div>
        </div>
		
			
        {{ form_end(form) }}
    </div>
	

	</div>
	{% block javascripts %}
        {{ parent() }}
        {{ encore_entry_script_tags('newPicture') }}
    {% endblock %}
{% endblock %}
