{% extends 'base.html.twig' %}

{% block title %} Ajouter un nouveau trick {% endblock %}


{% block content %}
    <div class="container-fluid text-center mt-3 px-4">
        <p class="pt-4">
            Vous avez ici la possibilité d'ajouter un nouveau trick en complétant tous les champs de ce formulaire.
        </p>
        <div class="py-1">
            {{ form_start(form) }}
            <div class="row my-1">
                <div class="col">
                    {{ form_label(form.name) }}{{ form_widget(form.name) }}
                </div>
            </div>
            <div class="row my-1">
                <div class="col" id="">
                    {{ form_label(form.groupTrick) }}{{ form_widget(form.groupTrick) }}
                </div>
            </div>
            <div class="row my-2">
                <div class="col" id="">
                    {{ form_label(form.description) }}{{ form_widget(form.description) }}
                </div>
            </div>
            <div class="col visuals-container">
			<div class="col pictures-container mb-5">
				<div id="pictures" class="pictures" data-prototype="{{ form_widget(form.pictures.vars.prototype)|e('html_attr') }}">
					{{ form_widget(form.pictures) }}
				</div>
				<button id="add-picture" class="add-item-link btn btn-secondary" type="button" data-collection-holder-class="pictures">Ajouter une image</button>
				<input type="hidden" id="picture-counter" value="0">
			</div>
			<div class="col videos-container">
				<div id="videos" class="videos" data-prototype="{{ form_widget(form.videos.vars.prototype)|e('html_attr') }}">
					{{ form_widget(form.videos) }}
				</div>
				<button id="add-video" class="add-item-link btn btn-secondary" type="button" data-collection-holder-class="videos">Ajouter une vidéo</button>
				<input type="hidden" id="video-counter" value="0">
			</div>
		    </div>
            <div class="my-4">
                {{ form_row(form.submit) }}
            </div>
            {{ form_end(form) }}
        </div>
        </div>
        {% block scripts %}
        {{ encore_entry_link_tags('app') }}
        <script src="{{ asset('build/newPicture.js') }}"></script>
        {% endblock %}
{% endblock %}